<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168258236-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-168258236-1');
    gtag('config', '<GA_MEASUREMENT_ID>', { 'anonymize_ip': true });
  </script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  {% include twitter.html %}
</head>

<body>
  <div class="wrapper">
    <header>
      <title>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
      </title>

      <p>{{ site.description | default: site.github.project_tagline }}</p>

      <p><i><small>This website was last updated on {{ site.time | date: '%m/%d/%Y %r'}} EST</small></i></p>
    </header>
    <section>

      {{ content }}

    </section>
    <footer>
      <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small>
      </p>
    </footer>
  </div>
  <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
</body>

</html>